<ion-view view-title="Chat Room - Academics">
    <ion-content>
        <ion-list>
            <ion-item class="" ng-repeat="chat in chats" type="item-text-wrap">
                <h4>{{chat.name}}</h4>
                <span class="item-note">
                    {{ chat.time }}
                </span>
                <p>{{chat.lastText}}</p>
                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
