# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
ionic.project
.io-config.json
/www/css/ionic.app.css
/www/css/ionic.app.min.css
/www/lib/